.footer {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.footerCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    color: #333;
}