header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #dfdfdf;
}

.header-container{
    width: 1170px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .header-container{
        width: calc(100% - 30px);
    }
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-left span{
    font-size: 1.25rem;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
nav ul li {
    height: fit-content;
    text-align: center;
}
nav a {
    padding: 1rem 0.5rem;
    color: black;
}
nav a.active {
    border-top: 3px solid rgb(26, 124, 7);
}
nav a:hover{
    text-decoration: none;
    border-top: 3px solid rgb(41, 189, 12);
}


main {
    width: 1170px;
    margin: auto;
}

@media (max-width: 1200px) {
    main{
        width: calc(100% - 30px);
    }
}

.header-icon {
    height: 50px;
    width: auto;
    margin-right: 1rem;
}


/* styles.css (continued) */

section {
    border-top: 1px solid #e0e0e0;
    padding-top: 1.5rem;
    /* padding-bottom: 1.5rem; */
}

p {
    margin-bottom: 1rem;
}

a.read-more {
    font-weight: 700;
    display: inline-block;
    margin-top: 0.5rem;
}

footer {
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.post-title {
    margin: 0;
}
.post-title a {
    color: black;
}
.post-title a:hover{
    text-decoration: none;
}

/* 포스트 스타일 */
.post {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

@media (max-width: 680px) {
    .post{
        flex-direction: column;
        align-items: center;
    }
}

.post-image {
    height: 200px;
    width: auto;
    margin-right: 1rem;
}

@media (max-width: 680px) {
    .post-image{
        width: calc(100vw - 30px);
        height: auto;
        margin-right: 0;
    }
}

.post-content {
    flex: 1;
    display:flex;
    flex-direction: column;
    height: 200px;

    gap: 10px;
}

@media (max-width: 680px) {
    .post-content{
        height: fit-content;
        flex: 0;
        align-self: flex-start;
    }
}

.post-summary {
    padding: 0;
    margin: 0;
    /* margin-bottom: 1rem; */
    flex: 1;
}

.post-keywords, .post-date, .post-length {
    font-size: 0.9rem;
    color: #888;
}

.post-keywords span {
    background-color: #f5f5f5;
    border-radius: .5rem;
    padding: .25rem .5rem;
    color: #12B886;
    font-weight: 400;
}